/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* VARIABLES */

:root{
  --main-black-color: #000;
  --main-white-color: #fff;
}

/* GENERAL */


@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), 
  url("../fonts/FuturaPT-Bold.woff") format("woff"); 
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"), 
  url("../fonts/FuturaPT-Medium.woff") format("woff"); 
}
@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), 
  url("../fonts/FuturaPT-Book.woff") format("woff"); 
}


*,
*::before,
*::after{
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}


html{
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-weight: 400;
  background-image: url("../image/bg.png");
  background-color: #F9F9F9;
  background-position: top 140px center;
  overflow-x: hidden;
  
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}


/* site top header start */
.site-header__top {
  padding-top: 11px;
  padding-bottom: 9px;
}
.site-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.site-header__address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 128px;
}
.site-header__address::before {
  content: "";
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../image/house.svg");
  background-repeat: no-repeat;
}
.site-header__address-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;
}
.site-header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;
}
.site-header__link:hover {
  color: #FFBD54;
}
.site-header__link:active {
  color: #333333;
  
  opacity: 0.6;
}
.site-header__top-item-time{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;
}
.site-header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none; 
  margin: 0;
  margin-right: 119px;
  padding: 0;
}
.site-header__top-list::before {
  content: "";
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../image/phone.svg");
}
.site-header__top-list:nth-child(3):before {
  margin-right: 7px;
  background-image: url("../image/calendar.svg");
}
.site-header__top-list:nth-child(3) {
  margin-right: 0;
}
.site-header__top-item {
  margin-right: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.site-header__top-item:nth-child(1):before {
  display: none;
}
.site-header__top-item::before {
  content: "";
  width: 4px;
  height: 4px;
  margin-right: 9px;
  background-color: #FFBD54;
  border-radius: 50%;
}
.site-header__top-item-adres{
  margin-right: 17px;
}


/* site header bottom start */
.site-header__bottom {
  position: relative;
  background-color: #fff;
  border: 1px solid #F3F3F3;
}
.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo {
  position: absolute;
  top: -18px;
  left: calc(50% - 734px);
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.sitenav {
  margin-right: 196px;
}
.sitenav-list {
  width: 726px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sitenav-list::before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 13px;
  background-image: url("../image/fish.svg");
  
}
.sitenav-item {
  padding: 20px 0;
  margin-right: 55px;
}
.sitenav-item:nth-child(6) {
  margin-right: 0;
}
.sitenav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 17px 0;
  text-decoration: none;
  color: #333333;
  border-bottom: 4px solid transparent;
  
}
.sitenav-link:hover{
  border-bottom: 4px solid #F4FFAD;
  
}
.sitenav-link:active{
  color: #333333;
  opacity: 0.6;
  border-bottom: 4px solid #F4FFAD;
  
}
.site-header__bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  padding: 17px 0;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  color: #333333;
  border-bottom: 4px solid transparent;
}
.site-header__bottom-link:hover{
  border-bottom: 4px solid #F4FFAD;
}
.site-header__bottom-link:active{
  color: #333333;
  opacity: 0.6;
  border-bottom: 4px solid #F4FFAD;
  
}
.site-header__bottom-link::before {
  content: "";
  width: 39px;
  height: 27px;
  margin-right: 5px;
  background-image: url("../image/pet.svg");
  background-repeat: no-repeat;
}


/* hero section start */
.hero{
  padding-top: 145px;
  padding-bottom: 290px;
  background-image: url(../image/hero-bg.png), url(../image/carrot.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 575px) calc(50% - 74px), calc(50% + 693px) calc(50% + 209px);
}
.hero__wrapper {
  display: block;
  width: 608px;
  margin-right: 0;
  margin-left: auto;
}
.hero__title {
  width: 608px;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 29px;
  color: #333333;
}
.hero__title-blue {
  color:#78C0DE;
}
.hero__desc {
  width: 495px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 38px;
  color: #949494;  
}
.site-link-black--style {
  display: block;
  width: 181px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
  background-color: #333333;
  border-radius: 3px;
}

.site-link-black:hover {
  color: #333333;
  background: #FFBD54;
}
.site-link-black:active {
  opacity: 0.6;
}


/* quote section start */
.quote {
  padding-top: 21px;
  padding-bottom: 95px;
}
.quote__inner{
  position: relative;
}
.quote__inner::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 148px;
  width: 50px;
  height: 42px;
  background-image: url("../image/quotes-top.svg");
}
.quote__inner::after {
  content: "";
  position: absolute;
  bottom: 82px;
  right: 165px;
  width: 50px;
  height: 42px;
  background-image: url("../image/quotes.svg");
}
.quote__text {
  width: 753px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  color: #949494;
}
.quote__text::before {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 43px;
  background-color: #DBDBDB;
}
.quote__text::after {
  content: "";
  display: block;
  width: 140px;
  height: 1px;
  margin: 0 auto;
  margin-top: 35px;
  background-color: #DBDBDB;
}
.quote__text-desc {
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
}

/* service section start */
.service {
  padding-top: 95px;
}
.service__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  color: #333333;
}
.service__list-wrapper{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.service__list {
  width: 1228px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-left: 44px;
  overflow: hidden;
}
.service__btn{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  border: 0;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  padding: 0;
  background-image: url("../image/next.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 26px;
  background-color: transparent;
}
.service__btn--top-active{
  left: -20px;
}
.service__btn--bottom-active{
  right: -30px;
  margin: 0;
  margin-right: 12px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.service__btn:hover{
  background-color: #FFFFFF;
}
.service__btn:active{
  background-color: #FFFFFF;
  opacity: 0.6;
}

.service__item {
  width: 193px;
  display: block;
  margin-right: 13px;
  padding: 28px 32px;  
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}
.service__item--height .service__item-title{
  margin-top: 34px;
}
.service__item--height{
  padding-bottom: 39px;
}
.service__item::before {
  content: "";
  display: block;
  width: 54px;
  height: 78px;
  margin: 0 auto;
  background-image: url("../image/doctor.svg");
  background-repeat: no-repeat;
}


.service__item:first-child{
  padding-bottom: 42px;
  border: 1px solid #fff;
  border-radius: 5px 5px 0 0 ;
}
.service__item:nth-child(2)::before {
  width: 61px;
  height: 78px;
  background-image: url("../image/doctor-dog.svg");
}
.service__item:nth-child(3)::before {
  width: 72px;
  height: 78px;
  background-image: url("../image/dog-teeated.svg");
}
.service__item:nth-child(4)::before {
  width: 76px;
  height: 76px;
  background-image: url("../image/dog-hair.svg");
}
.service__item:nth-child(5)::before {
  width: 78px;
  height: 78px;
  background-image: url("../image/labaratory.svg");
}
.service__item:nth-child(6)::before {
  width: 76px;
  height: 76px;
  background-image: url("../image/doctor-dogs.svg");
}
.service__item:nth-child(7)::before {
  width: 77px;
  height: 77px;
  background-image: url("../image/wolf.svg");
}
.service__item:nth-child(8)::before {
  width: 40px;
  height: 78px;
  background-image: url("../image/prick.svg");
}
.service__item:nth-child(9)::before {
  width: 89px;
  height: 78px;
  background-image: url("../image/calendar-dog.svg");
}
.service__item:nth-child(10)::before {
  width: 68px;
  height: 76px;
  background-image: url("../image/needle.svg");
}
.service__item:nth-child(11)::before {
  width: 78px;
  height: 78px;
  background-image: url("../image/dentist.svg");
}
.service__item:nth-child(12)::before {
  width: 77px;
  height: 77px;
  background-image: url("../image/bag.svg");
}

.service__item:hover {
  opacity: 0.8;
}
.service__item:active {
  opacity: 0.6;
}
.service__item-link{
  text-decoration: none;
}
.service__item-title {
  width: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 0;
  color: #333333;
}
.service__wrapper {
  width: 1223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 43px;
  padding-left: 35px;
  border-radius: 0px 5px 5px 5px;
}
.service__img{
  width: 524px;
  height: 329px;
  margin-right: 67px;
}
.service__inner {
  width: 492px;
  padding-top: 33px;
  padding-bottom: 33px;
}
.service__cat-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 18px;
  color: #333333;  
}
.service__cat-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-top: 0;
  margin-bottom: 9px;
  color: #949494;
}
.service__cat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}
.service__cat-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 21px;
  padding: 15px 36px 15px 35px;
  color: #FFFFFF;
  background: #FFBD54;
  border-radius: 3px;
}
.service__cat-link::before{
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 7px;
  background-image: url("../image/money.svg");
  background-size: 21px 21px;
}
.service__cat-link-black{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding: 15px 37px 14px 37px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
}
.service__cat-link-black::before{
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 7px;
  background-image: url("../image/document.svg");
  background-size: 21px 21px;
}


.site-link-yellow:hover{
  color: #FFBD54;
  background-color: #333333;
  border-radius: 3px;
}
.site-link-yellow:active{
  color: #FFBD54;
  background-color: #333333;
  border-radius: 3px;
  opacity: 0.6;
}


/* subscription section start */
.feature {
  position: relative;
  margin-top: 235px;
  margin-bottom: 151px;
  padding-top: 90px;
  padding-bottom: 88px;
  background-image: url("../image/dog-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature__wrapper {
  position: relative;
  margin-left: 250px;
}
.feature__wrapper::after {
  position: absolute;
  top: calc(50% - 271px);
  right: calc(50% - 530px);
  width: 519px;
  height: 469px;
  background-image: url(../image/dog-vov.png);
  background-position: center;
  background-size: 613px 481px;
  content: "";
}
.feature__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  
}
.feature____form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__input {
  width: 335px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 21px;
  padding: 15px 22px;
  color: #333333;
  background: #FFFFFF;
  border: 0;
  border-radius: 5px;
  outline: none;
  border: 2px solid transparent;
}
.feature__input:not(:-moz-placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.feature__input:not(:-ms-input-placeholder):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.feature__input:not(:placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.feature__input:focus{
  border: 2px solid #FFBD54;
}
.feature__input::-webkit-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  align-items: center;
  color: #949494;
}
.feature__input::-moz-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #949494;
}
.feature__input:-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.feature__input::-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.feature__input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.site-link-black--btn{
  width: 188px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 20px;
  color: #FFFFFF;
  text-align: center;
  border: 0;
  background-color: #333333;
  border-radius: 3px;
}

/* articles section start */
.articles {
  padding-bottom: 153px;
  margin-bottom: 112px;
}
.articles__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  color: #333333;
}
.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.articles__item {
  width: 305px;
  height: 100%;
  background: #FEFEFE;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
}
.articles__item  .articles__item-bottom-desc{
  display: none;
}
.articles__item:hover {
  -webkit-filter: drop-shadow(0px 4px 4px #00000040);
  filter: drop-shadow(0px 4px 4px #00000040);
}
.articles__item:active {
  -webkit-filter: drop-shadow(0px 4px 4px #00000040);
  filter: drop-shadow(0px 4px 4px #00000040);
}

.articles__img {
  width: 305px;
  height: 180px;
}
.articles__wrapper{
  padding: 21px 22px 35px 22px;
}
.articles__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.articles__item-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.articles__item-item {
  margin-right: 7px;
  
}
.articles__item-item:last-child {
  margin-right: 0;
}
.articles__item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #3D9CEA;
  
}
.articles__data {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 2px;
  color: #949494;
  
}
.articles__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #000000;
}
.articles__item-desc {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 34px;
  color: #949494;  
}
.articles__item-bottom-desc{
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 34px;
  margin-top: 0;
  color: #949494;  
}
.articles__learnmore-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 21px;
  color: #333333;
}
.articles__learnmore-link:hover {
  color: #FFBD54;
}
.articles__learnmore-link:active {
  color: #333333;
  opacity: 0.7;
}
.articles__learnmore-link::before{
  content: "";
  width: 39px;
  height: 27px;
  margin-right: 5px;
  background-image: url("../image/pet.svg");
  background-repeat: no-repeat;
}
.articles__item--active{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
}
.articles__item--active .articles__wrapper{
  padding: 41px 34px 0 30px;
}
.articles__item--active .articles__inner{
  margin-bottom: 29px;
}
.articles__item--active .articles__item-title{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 193px;
  margin-bottom: 15px;
}
.articles__item--active .articles__img{
  width: 305px;
  height: 435px;
  display: inline-block;
}
.articles__item--active .articles__item-bottom-desc{
  display: inline-block;
  width: 270px;
  margin-bottom: 22px;
}
.articles__item--active .articles__item-desc{
  display: inline-block;
  width: 270px;
  margin-bottom: 0;
}
.articles__item--active .articles__item-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* contact section start */
.contact{
  margin-bottom: 247px;
}
.contact__iframe{
  width: 462px;
  height: 652px;
}
.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1695px;
  margin: 0 auto;
}
.contact__inner {
  width: 1147px;
  padding-top: 62px;
  padding-left: 201px;
  background-color: #333333;
  background-image: url(../image/form-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 1px) center;
}
.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin-top: 0;
  margin-bottom: 14px;
  color: #FFFFFF;  
}
.contact__desc {
  width: 334px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 29px;
  color: #949494;
}
.contact____form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}



.contact__input {
  width: 375px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  padding: 16px 22px 13px 22px;
  margin-bottom: 14px;
  color: #333333;
  background-color: #FFFFFF;
  outline: none;
  border: 2px solid transparent;
}
.contact__textarea {
  resize: none;
  width: 375px;
  height: 165px;  
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
  padding: 16px 22px 13px 22px;
  color: #333333;
  background-color: #FFFFFF;
  outline: none;
  border: 2px solid transparent;
}
.contact__textarea:focus{
  border: 2px solid #FFBD54;
}
.contact__input:focus{
  border: 2px solid #FFBD54;
}
.contact__textarea::-webkit-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  align-items: center;
  color: #949494;
}
.contact__textarea::-moz-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #949494;
}
.contact__textarea:-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__textarea::-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__textarea::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__input::-webkit-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  align-items: center;
  color: #949494;
}
.contact__input::-moz-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #949494;
}
.contact__input:-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__input::-ms-input-placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}
.contact__input:not(:-moz-placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__input:not(:-ms-input-placeholder):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__input:not(:placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__textarea:not(:-moz-placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__textarea:not(:-ms-input-placeholder):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__textarea:not(:placeholder-shown):not(:focus):invalid{
  color: #DC4D41;
  border: 2px solid #DC4D41;
}
.contact__btn{
  display: block;
  width: 226px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 15px 20px 14px 20px;
  color: #FFFFFF;
  border: 0;
  background-color: #FFBD54;
}

/* footer start */
.site-footer {
  padding-top: 54px;
  padding-bottom: 69px;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
}
.site-footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.site-footer__logo {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 67px;
}
.site-footer__logo:hover {
  opacity: 0.8;
}
.site-footer__logo:active {
  opacity: 0.6;
}
.site-footer__list {
  list-style: none;
  margin: 0;
  margin-right: 110px;
  padding: 0;
}
.site-footer__list--second{
  margin: 0;
  margin-right: 110px;
}
.site-footer__item {
  margin-bottom: 14px;
}
.site-footer__item:last-child {
  margin-bottom: 0;
}
.site-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
}
.site-footer__link:hover{
  color: #FFBD54;
}
.site-footer__link:active{
  color: #333333b3;
  
}
.site-footer__time-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 0;
}
.site-footer__time-list::before{
  content: "";
  position: absolute;
  left: -20px;
  width: 14px;
  height: 13px;
  background-image: url("../image/calendar.svg");
  background-repeat: no-repeat;
}
.site-header__time-item-adres-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.site-footer__address {
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  margin-right: 112px;
}
.site-footer__address::before {
  content: "";
  display: block;
  width: 38px;
  height: 20px;
  background-image: url("../image/house.svg");
  background-size: 14px 13px;
  background-repeat: no-repeat;
}
.site-footer__address-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
}
.site-footer__tel-list {
  position: relative;
  width: 138px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-footer__tel-list::before {
  content: "";
  position: absolute;
  left: -27px;
  width: 16px;
  height: 16px;
  background-image: url("../image/phone.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
.site-footer__tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;  
}
.site-footer__tel-link:hover{
  color: #FFBD54;
}
.site-footer__tel-link:active{
  color: #333333;
  opacity: 0.6;
}

.site-desc{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: end;
  color: #5C5C5C;
}

/* contact page start */
.contact-hero {
  padding-top: 110px;
  padding-bottom: 131px;
  background-image: url("../image/dog-doctor.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 413px) top;
}
.contact-hero__wrapper {
  width: 447px;
}
.contact-hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 27px;
  color: #333333;
}
.contact-hero__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 117px;
  color: #949494;
}
.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-hero__bold {
}
.contact-list__item {
  margin-right: 118px;
}
.contact-list__item::before {
  content: "";
  display: block;
  width: 73px;
  height: 73px;
  margin-bottom: 30px;
  background-image: url("../image/location.svg");
  background-repeat: no-repeat;
}
.contact-list__item:nth-child(2):before {
  width: 77px;
  height: 72px;
  background-image: url("../image/kalendar.svg");
}
.contact-list__item:nth-child(3):before {
  width: 50px;
  height: 73px;
  background-image: url("../image/phone-chat.svg");
}

.contact-list__item:last-child {
  margin-right: 0;
}
.contact-list__link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.contact-hero__bold {
}


.location {
  margin-bottom: 206px;
  padding-top: 264px;
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 207px) top ;
}
.location__wrapper {
  width: 1440px;
  margin: 0 auto;
}
.location__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin-top: 0;
  margin-bottom: 60px;
  color: #333333;
}
.location__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.location__inner::before {
  content: "";
  position: absolute;
  top: -287px;
  left: 21px;
  width: 443px;
  height: 342px;
  background-image: url("../image/dog.png");
}

.location__img {
}


/* faq page start */

.faq-hero {
  padding-top: 118px;
  padding-bottom: 270px;
  background-image: url("../image/bird.png"), url("../image/cat.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 505px) calc(50% + 409px), calc(50% + 404px) calc(50% - 563px);
  background-size: 654px 640px, 569px 466px;
}
.faq-hero__wrapper {
  position: relative;
  margin-bottom: 63px;
  
}
.faq-hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: 27px;
  color: #333333;
}
.faq-hero__desc {
  width: 447px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  color: #949494;
}
.faq-hero__link{
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 201px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 35px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #78C0DE;
  border-radius: 3px;
}
.faq-hero__link::before{
  content: "";
  width: 21px;
  height: 21px;
  margin-right: 6px;
  background-image: url("../image/document-white.svg");
}


.faq-hero__list{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
.faq-hero__item {
  margin-bottom: 18px;
}

.faqs-details {
  position: relative;
  width: 752px;
  padding: 27px 41px 32px 63px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}
.faqs-details[open] .faqs-details__summary::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);  
  
}
.faqs-details--none[open] .faqs-details__summary::after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); 
}

.faqs-details:last-child {
  margin-bottom: 0;
}
.faqs-details--none{
  opacity: 0.5;
}

.faqs-details--none .faqs-details__summary::after{
  background-image: url("../image/clock.svg");
}
.faqs-details--none{
  cursor: not-allowed;
}
.faqs-details__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  list-style: none;
  color: #333333;
}
.faqs-details__summary::after{
  content: "";
  position: absolute;
  right: 41px;
  width: 19px;
  height: 16px;
  background-image: url("../image/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.faqs-details__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.faqs-details__time{
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-right: 28px;
  color: #333333;
  opacity: 0.28;
}
.faqs-details__inner::before{
  content: "";
  width: 23px;
  height: 20px;
  margin-right: 7px;
  background-image: url("../image/petss.svg");
  background-size: cover;
}
.faqs-details__inner--befor::before{
  background-image: url("../image/pet-blue.svg");
}
.faqs-details__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  color: #78C0DE;
  
}
.faqs-details__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 23px;
  margin-bottom: 42px;
  color: #949494;  
}


/* service page start */

/* hero sevtion start */
.service-hero {
  padding-top: 118px;
  padding-bottom: 140px;
  background-image: url("../image/parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 441px) 0;
  
}
.service-hero__wrapper {
  width: 447px;
}
.service-hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  margin-top: 0; 
  margin-bottom: 21px;
  color: #333333;
  
}
.service-hero__desc {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  color: #949494;
}


/* service list section start */
.service-list {
  margin-bottom: 168px;
}
.service-list__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-grid-columns: 305px 30px 305px 30px 305px 30px 305px;
  grid-template-columns: repeat(4, 305px);
  -ms-grid-rows: 420px 30px 420px 30px 420px;
  grid-template-rows: repeat(3, 420px);
  grid-gap: 30px;
  margin: 0;
  padding: 0;
}
.service-list__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.service-list__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.service-list__list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.service-list__list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.service-list__list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.service-list__list > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.service-list__list > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.service-list__list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.service-list__list > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.service-list__list > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.service-list__list > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.service-list__list > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.service-item {
  border-radius: 5px;
  padding: 58px 22px 45px 53px;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  background-image: url("../image/pets.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.service-item:hover{
  -webkit-filter: drop-shadow(0px 4px 20px #00000033);
  filter: drop-shadow(0px 4px 20px #00000033);
}
.service-item::before{
  content: "";
  display: inline-block;
  width: 54px;
  height: 77px;
  margin-bottom: 21px;
  background-image: url("../image/doctor.svg");
}
.service-item:nth-child(2)::before{
  width: 61px;
  height: 77px;
  background-image: url("../image/doctor-dog.svg");
}
.service-item:nth-child(3)::before{
  width: 72px;
  height: 77px;
  background-image: url("../image/dog-teeated.svg");
}
.service-item:nth-child(4)::before{
  width: 76px;
  height: 76px;
  background-image: url("../image/dog-hair.svg");
}
.service-item:nth-child(5)::before{
  width: 78px;
  height: 78px;
  background-image: url("../image/labaratory.svg");
}
.service-item:nth-child(6)::before{
  width: 76px;
  height: 76px;
  background-image: url("../image/doctor-dogs.svg");
}
.service-item:nth-child(7)::before{
  width: 77px;
  height: 77px;
  background-image: url("../image/wolf.svg");
}
.service-item:nth-child(8)::before{
  width: 40px;
  height: 77px;
  background-image: url("../image/prick.svg");
}
.service-item:nth-child(9)::before{
  width: 87px;
  height: 78px;
  background-image: url("../image/calendar-dog.svg");
}
.service-item:nth-child(10)::before{
  width: 68px;
  height: 76px;
  background-image: url("../image/needle.svg");
}
.service-item:nth-child(11)::before{
  width: 78px;
  height: 78px;
  background-image: url("../image/dentist.svg");
}
.service-item:nth-child(12)::before{
  width: 77px;
  height: 77px;
  background-image: url("../image/bag.svg");
}
.service-item__titile {
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 14px;
  color: #333333;
}
.service-item__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 26px;
  color: #949494;
}
.service-item__link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #78C0DE;
  border-radius: 3px;
}
.service-item__link--hover{
  background-color:  #ffbd54;
  -webkit-transition: background .5s ease, opacity .5s ease;
  -o-transition: background .5s ease, opacity .5s ease;
  transition: background .5s ease, opacity .5s ease;
}
.service-item__link--hover:hover{
  color: #fff;
  background-color: #000000;
}
.service-item__link--hover:active{
  color: #fff;
  background-color: #000000;
  opacity: 0.6;
}


/* modal page start */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 1000%;
  background-color: #f9f9f9e6;
}

.modal-open{
  display: block;
}

.modal-wrapper {
  width: 561px;
  height: 485px;
  margin: 5% auto;
  -webkit-animation-name: modal-animation;
  animation-name: modal-animation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: none;
  animation-iteration-count: none;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes modal-animation{
  from{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
  }
  to{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes modal-animation{
  from{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
  }
  to{
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.modal-wrapper{
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 119px 51px 137px 70px;
  width: 850px;
  height: 648px;
  text-align: center;
  background-color: #FFBD54;
  background-image: url("../image/modal-bg.png");
}
.modal__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal__btn {
  position: absolute;
  top: 21px;
  left: 20px;
  background: transparent;
  border: 0;
  width: 18px;
  height: 18px;
  background-image: url("../image/close.svg");
  background-repeat: no-repeat;
}
.modal-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 36px;
  margin-right: 133px;
}
.modal-social__title{
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 21px;
  color: #333333;
}
.modal-social-link {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 238px;
  padding: 14px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 21px;
  text-decoration: none;
  color: #333333;
  background-color: #fff;
}
.modal-social-link::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background-image: url("../image/google.svg");
}
.modal-social-link--facebook::before {
  background-image: url("../image/faceebook.svg");
}
.modal__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #333333;
}
.contact__input--modal {
  width: 335px;
}
.contact__textarea--modal {
  width: 335px;
}
.modal__button{
  width: 193px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 14px 50px;
  background-color: #000;
}